body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin: 0;
}

.container {
    width: 570px;
    margin: 0 auto;
}

.bold-text,
.name,
time {
    font-weight: 900;
    display: block;
    color: #99d930;
}

h1 .bold-text {
    font-size: 80px;
}

h2 .bold-text {
    font-size: 60px;
}

h1,
h2 {
    font-weight: 300;
}

h1 {
    font-size: 60px;
    color: #fff;
}

h2 {
    font-size: 42px;
    color: #fff;
    margin-top: 0px;
    border-top: solid 1px #C4C4C4;
    border-bottom: solid 1px #C4C4C4;
    padding: 20px 0;

}

h3 {
    color: #FFF;
}

h3 {
    font-size: 36px;
    font-weight: 900;
}


a {
    color: #99d930;
    font-weight: 900;
}

a:hover {
    color: #131313;
}

.written {
    font-size: 16px;
}

.article {
    color: #fff;
}

.sophie,
.article {
    background-color: #252525;
}

.sophie,
.role,
.article {
    padding: 100px 0;

}

.mb {
    margin-bottom: 0;
}

.mt {
    margin-top: 0;
}

.btn {
    display: inline-block;
    background-color: #99d930;
    color: #252525;
    text-decoration: none;
    padding: 15px;
    margin-top: 30px;
}

.btn:hover,
.btn:focus {
    background-color: #252525;
    color: #FFF;
}

article .btn:hover,
.btn:focus {
    background: #fff;
    color: #252525;
}

.role .mt {
    color: black;
}